body, h1, h2, p, ul, li, input, select, textarea, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: dodgerblue;
    color: white;
}

.logo {
    background-image: url('https://s3-ap-southeast-1.amazonaws.com/revou-blog/2019/12/Logo-RevoU-5.png'); /* Ganti dengan URL gambar logo */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 150px; /* Sesuaikan ukuran logo */
    height: 50px; /* Sesuaikan tinggi */
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin: 0.5rem 0.8px;
}

nav a {
    transition: color 0.3s ease, background-color 0.3s ease;
    padding: 10px 10px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    width: 100%;
    border: 1px solid white;
}

nav a:hover {
    color: dodgerblue;
    background-color:white;}

main {
    padding: 20px;
}

section {
    margin: 50px 0; /* Menambahkan jarak atas dan bawah */
    padding: 20px; /* Memberikan ruang di dalam section */
}

.carousel {
    width: 100%;
    max-width: 1200px;
    height: 75vh;
    overflow: hidden;
    position: relative;
    margin: auto;
}

.slide {
    width: 100%;
    display: none;
}

.slide.active {
    display: block;
}

.message-container {
    margin-top: 1.2rem;
    display: flex;
    justify-content: space-between;
}

form {
    width: 100%;
    max-width: 440px;
    padding: 20px;
    border: 2px solid #007BFF;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.radio-group {
    margin: 12px auto;
}

.radio-group > label {
    display: inline-block;
}

#male, #female {
    width: auto;
}

form input, form select, form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

form button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

form button:hover {
    background-color: #0056b3;
}

#error-message {
    color: red;
    font-weight: bold;
    margin-top: 1.2rem;
}

#output {
    width: 45%;
    background: #f4f4f4;
    padding: 18px;
    border-radius: 5px;
    border: 2px solid dodgerblue;
    box-shadow: 2px 2px 10px rgba(32, 25, 150, 0.1);
}

.namaku {
    font-weight: bold;
    font-style: italic;
    font-size: 1.2rem;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}
.baris, .col2, .col3 {
    vertical-align: top;
}

.baris {
    width: 25%;
    font-weight: bold;
}
.col2 {
    width: 5%;
    font-weight: bold;
}
.col3 {
    width: 70%
}

#pesan_output {
    text-align: justify;
}

tr {
    height: 3rem;
}

footer {
    text-align: right;
    padding: 20px;
    background: dodgerblue;
    color: white;
    margin-top: 20px;
}

@media (max-width: 768px) {
    .message-container {
        flex-direction: column;
    }
    form, #output {
        width: 100%;
        margin-top: 1rem;
    }
    span {
        font-size: 12px;
    }
}

@media only screen and (max-width: 900px) {
    .message-container {
        margin-top: 1.2rem;
        display: flex;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        align-items: center;}
    form, #output {
            width: 100%;
            margin-top: 0.8rem;
        }
    #output {
        max-width: 440px;
    }
}

@media only screen and (max-width: 600px) {
    header {
        flex-direction: column;
        width: 100%;
    }
    form, #output {
        width: 100%;
        margin-top: 0.8rem;
    }
    nav ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        align-items: center;
        /* width: 100%; */

    }

    nav {
        width: 100%;
        /* border: 1px solid white; */
    }
    /* nav ul {
        border: 1px solid white;
    } */
    nav ul li {
        text-align: center;
        /* padding: 8px; */
        width: 100%;
        margin: 1px 1px;
        border: 1px solid white;
        border-radius: 5px;
    }
    nav a:hover {
        color: dodgerblue;
        background-color:white;
    }
    nav a {
        display: block;
        border: 0;
    }

    .logo {
        margin-bottom: 14px;
    }

}